@font-face{
    font-family: SFpro;
    src: url("../fonts/SF_Pro/SFProDisplay-Heavy.ttf")format('truetype');
    font-weight: bolder;
}

@font-face{
    font-family: SFpro;
    src: url("../fonts/SF_Pro/SFProDisplay-Bold.ttf")format('truetype');
    font-weight: bold;
}

@font-face{
    font-family: SFpro;
    src: url("../fonts/SF_Pro/SFProDisplay-Medium.ttf")format('truetype');
    font-weight: medium;
}

@font-face{
    font-family: SourceCode;
    src: url("../fonts/Source_Code_Pro/SourceCodePro-Bold.ttf")format('truetype');
    font-weight: bold;
}

:root {
    --lightblue: #F1F8FF;
    --generalblue: #267CD3;
    --darkblue: #035B7D;
    --lightgreen: #1DA501;
    --red: #FF0808;
  }

/* remove border around */
* {
    margin: 0;
    padding: 0;
}

/* scroll and prevent x axis scroll */
html::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* GENERAL STYLING */
.page{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Two color background */
#main {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right,white 66%, #F1F8FF 34%);
}


/* HEADER */
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
    font-size: 24px;
    font-family: SFpro;
    font-weight: bold;
    color: #2d4059;
    max-width: 65.5%;
}

.header a{
    color: inherit;
    text-decoration: none;
    transition: 0.3s;
}

.header a:hover{
    color: grey;
    margin-top: -0.3%;
}

.comment{
   font-size: 40px;
}


/* HOME CONTENT */
#main-content{
    max-width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
}

#main-text span{
    font-family: SourceCode;
    font-weight: bold;
    font-size: 9vh;
}

#main-text p{
    font-family: SFpro;
    font-weight: bolder;
    font-size: 13vh;
}

#darkblue{
    font-family: SFpro;
    font-weight: bolder;
    font-size: 13vh;
    color: var(--darkblue);
}

#main-image{
    max-width: 320px;
}

#status {
    font-family: SFpro;
    font-weight: bolder;
    font-size: 3vh;
    color: black;
    align-self: center;
}

#status span {
    font-family: SFpro;
    font-weight: bolder;
    font-size: 3vh;
    color: var(--lightgreen);
}

#scrolldown{
    margin-top: -3%;
    align-self: center;
    animation: bounce 0.7s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#scrolldown img{
    max-width: 2vw;
}

/* bounce animation from stack overflow --> for scroll down arrow*/
@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, 1.2vh, 0);
    }
}


/* ABOUT */
#about {
    height: 100vh;
    width: 100vw;
    background: var(--darkblue);
}

/* PROJECTS */
#projects {
    height: 100vh;
    width: 100vw;
    background: var(--lightblue);
}

/* STARTUP */
#startup {
    height: 100vh;
    width: 100vw;
    background: var(--darkblue);
}

/* SOCIALS */
#socials {
    height: 100vh;
    width: 100vw;
    background: var(--darkblue);
}