@font-face{
    font-family: SF-Bold;
    src: url("fonts/SF_Pro/SFProDisplay-Bold.ttf")format('truetype');
}

/* Two color background */
body  {
    background: linear-gradient(to right,white 66%, #F1F8FF 34%); 
  }

.text{
    font-family: SF-Bold;
    font-size: 100px;
}